.split{
	height: 80%;
	width: 20%;
	position: absolute;
	/*z-index: -1;*/
	top: 0;
	overflow-x: hidden;
	padding-top: 20%;
}

.left{
	top:70px;
	/*left: 1px;*/
	background-color: #00134d;
	
}

.centered {
	color: white;
	position: absolute;
	top: 32%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	
}

.centered img {
	width: 150px;
	border-radius: 50%;
}

.table1{
	margin-top:10%;
	width:75%;
	margin-left: 25%;
	border-collapse:collapse;
	
}
.table1 th{
	font-size:20px;
	text-align:left;
	padding-bottom:5px;
}
.table1 tr{
	border:none;
}
.table1 td{
	border-right:solid 1px #808080;
	border-left:solid 1px #808080;
	font-size:15px;
}
.table1 a{
	color:black;
}
.table1 a:hover{
	color:white;
}


.table3{
	margin-top:2%;
	margin-left:18%;
	width:75%;
	
	border-collapse:collapse;
}
.table3 th{
	font-size:180px;
	text-align:center;
	color:#3498DB;
}
.table3 td{
	font-size:30px;
	text-align:center;
}
/*loginbox*/
.loginbox {
	width: 375px;
	height: 450px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 37%;
	position: absolute;
	/*transform :translateX(50%);*/
	box-sizing: border-box;
	padding: 70px;
	margin-top: -150px;
}

/*for the avatar logo*/
.avatar{
	width:75px;
	height:75px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(88% - 50%);
}
/* for log in p */
.loginbox p{

	margin: 1px;
	/*padding: 1;*/
	font-weight: bold;
}
/* for log in input boxes*/
.loginbox input{
	margin-bottom: 16px;
	width: 200px;
}
/* for log in boxes style*/
.loginbox input[type="text"],[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	/*height: 50px;*/
	color: #fff;
	font-size: 15px;


}
/* for Sumbit buttan*/
.loginbox input[type="submit"]{
	border: none;
	outline: none;
	font-size: 22px;
	border-radius: 5px;

}
/* for submit butten effects */
.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #1034A6;
}
/*for the hyper link*/
.loginbox a{
	text-decoration: none;
	font-size: 12px;
	color: darkgray;

}
/*for the hyper link style*/
.loginbox a:hover
{
	color: #0080FF;
}

/*Header*/
.header{
	padding:30px;
	background:	#cdf9ff;}

/*Errors*/
.error {
	color: red;
	text-align: center;
}
.success {
	color: green;
	text-align: center;
}

/*Buttons*/
.button {
	border: none;
	outline: none;
	font-size: 22px;
	border-radius: 5px;
	margin-bottom: 8px;
	width: 200px;
	cursor: pointer;
}

.button:hover {background-color: blue}

.button:active {
	background-color: blue;
	transform: translateY(4px);
}