.formbox {
  margin: auto;  
  width: 37.5%;
  height: 60%;
  padding: 10px;  
  background-color: white;
}

.topic{
	text-align:center;
	font-size:30px;
}

input{
	font-size:18px;
}

hr.new1{
	border-top:2px solid blue;
}

.details{
	text-align:left;
	font-size:20px;
}