/*css related to slideshow-------------------------------------------------------*/
.mySlides {
	display:none;
}
/*SlidShow*/
/*slideshow container*/
.ss-container {
	position:relative;
	margin:auto;
}

/*caption text*/
.text{
	color: #4EE2EC;
	font-size:60px;
	padding:8px 12px;
	position:absolute;
	top:10%;
	width:100%;
	text-align:center;
}

/*indicators*/
.dot{
	height:15px;
	width:15px;
	margin:0 2px;
	background-color :#bbb;
	border-radius:50%;
	display:inline-block;
	transition: background-color 0.6s ease;
}

.active{
	background-color:#717171;
}
/*css related to slideshow end---------------------------------------------------*/

}
/*css related to doctor's quote--------------------------------------------------*/
.docsays{
	position:relative;
	text-align:center;
	color:white;
}

.textplace{
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
}
