@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
body{
	font-family: 'Poppins', sans-serif;
	background-color: #99b3ff;
	overflow-x:hidden;
}
/*css relate to nav bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e6e6ff;
}
li{
	float:left;
}
li a{
	display: block;
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 16px 16px;
	font-family: 'Poppins', sans-serif;
}
li a:hover {
  background-color: #6666ff;
  color:#fff;
}
.nav{
	float:right;
}
.logo{
	font-family: 'Poppins', sans-serif;
	font-weight:600;
	font-size:20px;
	padding: 14px 16px;
}
/*css related to nav bar end*/

/*css related to footer*/
.column5 {
  float: left;
  width: 20%;

}
.column6 {
  float: left;
  width: 40%;
}
.column7 {
  float: left;
  width: 40%;
  text-align:left;
  height:80%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
table tr td{
	padding-left:50px;
}
footer{
	width: 100%;
	background-color: #00134d;
	color:#99abb8;
	padding: 50px;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 12px;
	font-family: 'Poppins', sans-serif !important;
	font-style: normal !important;

}
.fa{
        padding: 5px;
        font-size: 30px;
}

.fa:hover {
	color:#000;
	text-decoration:none;
}
a:link {
	background-color: transparent;
	text-decoration: none;
}
a{
	  color: #99abb8;
}
/*css related to footer end*/