ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0066ff;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #003380;
}

form{
	display:block;
	width:50%;
	padding-bottom:50px;
}
input{
	width:100%;
	border:1px solid #ccc;
	border-radius:4px;
	resize:vertical;
	height:35px;
}
label{
	float:left;
}
.submit{
	width:99%;
	background-color:#0066ff;
	height: 50px;
	border-radius:4px;
	box-sizing: border-box;
	color:#fff;
	font-size:20px;
}
.submit:hover{
	background-color:#003380;
}
select{
	width:100%;
	border:1px solid #ccc;
	border-radius:4px;
	resize:vertical;
	height:35px;
}